{% extends 'lab2/base.html' %}
{% load filter %}
{% block content %}
    <div class="container">
        <h2>Make flight </h2>

        <form action="add" method="POST" class="form-vertical" role="form">{% csrf_token %}

            <div class="form-group">
                <label for="planeid" style="font-size: 18px; margin-top: 4px">Plane:</label>
                <select id="planeid" name="planename" style="width: 200px;height: 30px; border-radius: 5px">
                    {%  for plane in planes %}
                    <option value="{{ plane|underscore:'_id' }}" >{{plane.Name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="companyid" style="font-size: 18px; margin-top: 6px">Company:</label>
                <select id="companyid" name="companyname" style="width: 200px;height: 30px; border-radius: 5px">
                    {%  for company in companies%}
                    <option value="{{ company|underscore:'_id' }}" >{{company.Name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="trackid" style="font-size: 18px; margin-top: 6px">Track</label>
                <select id="trackid" name="track" style="width: 200px;height: 30px; border-radius: 5px">
                    {%  for track in tracks %}
                    <option value="{{ track|underscore:'_id' }}" >{{track.Departure}}-{{ track.Destination }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label style="font-size: 18px; margin-top: 6px">Price:</label>
                <input type="number" name="price"  style="width: 200px;height: 30px; border-radius: 5px">
            </div>

            <button type="submit" class="btn btn-default">Make flight</button>
        </form>
    </div>
{% endblock %}